/node_modules
/vendor
/.env
/.env.backup
/.env.production
/.phpunit.result.cache
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/app/public
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/views
/storage/logs
/storage/debugbar
/storage/framework/testing
.phpunit.result.cache
.env
service_account.json
*.zip
*.sql
ts_errors.txt
type-check-result.txt
.claude/
.idea/
.vscode/
